.right {
    float: right
}

.img {
    width: 100%;
}

.bordered {
    border: 1px solid #ddd;
}

.mt-50 {
    margin-top: 50px
}
h2 {
    font-size: 26px;
}
.w-95p {
    width: 95%;
}

.m-r-3 {
    margin-right: 3px;
}


.m-l-0 {
    margin-left: 0;
}

.a-year {
    position: absolute;
    padding: 10px;
    background: #b4b4fa;
    background: rgba(180,180,250,0.8);
    color: aliceblue;
}
