@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-50">
    <div class="col-lg-3 col-md-3 col-sm-4">
        <div class="list-group table-of-contents">
            <a class="list-group-item" href="#navbar">All Auctions</a>
            <a class="list-group-item" href="#buttons">Approved</a>
            <a class="list-group-item" href="#typography">Approved By Me</a>
            <a class="list-group-item" href="#dialogs">Dialogs</a>
        </div>
    </div>

    <div class="col-lg-9 col-md-9 col-sm-8">
        @RenderBody()
    </div>
</div>